<!DOCTYPE html>
<html>
<head>
    <title>Upload Resume</title>
    {% load static %}
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include custom CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>Resume Ranking</h1>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Job Description Upload Section -->
                            <div class="form-group text-center">
                                <label for="job_description" class="font-weight-bold">Upload Job Description</label>
                                <div class="mt-2">
                                    {{ jd_form.job_description }}
                                </div>
                            </div>
                            <hr>
                            <!-- Resumes Upload Section -->
                            <div class="form-group text-center">
                                <label for="files" class="font-weight-bold">Upload Resumes</label>
                                <div class="mt-2">
                                    <div class="d-inline-block">
                                        {{ resume_form.files }}
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
